/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Styles communs pour les pages de connexion et de création de compte */
#loginPage, #signupPage, #mainPage {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Page de connexion */
#loginPage {
    border: 2px solid #00796b;
}

#loginPage h1 {
    color: #00796b;
}

#loginPage input[type="email"],
#loginPage input[type="password"] {
    border: 2px solid #00796b;
}

#loginPage button {
    background-color: #00796b;
}

#loginPage button:hover {
    background-color: #004d40;
}

#loginPage a {
    color: #00796b;
}

/* Page de création de compte */
#signupPage {
    border: 2px solid #0277bd;
    background-color: #e3f2fd;
}

#signupPage h1 {
    color: #0277bd;
}

#signupPage input[type="email"],
#signupPage input[type="password"] {
    border: 2px solid #0277bd;
}

#signupPage button {
    background-color: #0277bd;
}

#signupPage button:hover {
    background-color: #01579b;
}

#signupPage a {
    color: #0277bd;
}

/* Page principale */
#mainPage {
    border: 2px solid #3949ab;
    background-color: #f5f5f5;
}

#mainPage h1 {
    color: #3949ab;
}

#codeBox {
    border: 2px solid #3949ab;
    background-color: #e8eaf6;
}

#code {
    color: #1a237e;
}

#notification {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

#error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    display: none; /* Initialement caché */
}

/* Styles communs pour les boutons */
button {
    padding: 12px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    transform: scale(1.05);
}

/* Style des boutons spécifiques */
#logoutButton, #errorButton {
    background-color: #d32f2f;
}

#logoutButton:hover, #errorButton:hover {
    background-color: #b71c1c;
}

/* Styles spécifiques pour les pages */
#loginPage button {
    background-color: #00796b;
}

#loginPage button:hover {
    background-color: #004d40;
}

#signupPage button {
    background-color: #0277bd;
}

#signupPage button:hover {
    background-color: #01579b;
}

#loginPage a {
    color: #00796b;
}

#signupPage a {
    color: #0277bd;
}
